/* 1 rem es igual a 10 px */

html {
        font-size: 62,5%;
}

* {
        margin: 0rem;
        padding: 0rem;
 
        
}

/* condiciones generales */

body{
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;

}

.title {
        font-size: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: underline;
        margin: 4rem;
        padding: auto;
        text-align: center;
}

/* logo header */

nav img {
        width: 200px;
}



/* foto index */

header .header1 {
        background-image: url(../img/fotoFondo1.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        

}

/* menu */

header .menu {
        height: 200px;
        opacity: 95%;
}



/* INDEX  */

.card1 {
        
        margin: 2rem;
        width: 300px;
        height: 240px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
        
        
}
.card1 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
       
}

.card1 p {
        
        line-height: 35px;
}

.card2 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card2 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card2 p {
        
        line-height: 35px;
}

.card3 {
        
                margin: 2rem;
                width: 300px;
                height: 260px;
                text-align: justify;
                border-radius: 10px;
                border-color: black ;
        }
        
        .card3 h5 {
                text-align: center;
                font-size: 30px;
                text-decoration: underline;
              
        }
        
        .card3 p {
                
                line-height: 35px;
        }
.card4 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card4 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card4 p {
        
        line-height: 35px;
}

.card5 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card5 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card5 p {
        
        line-height: 35px;
}

.card6 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card6 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card6 p {
        
        line-height: 35px;
}

/* EQUIPO  */


/* foto header */

header .header2 {
        background-image: url(../img/fotoFondo2.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        

}

/* contenido */

/* primera sección  */
.boss {
        text-align: justify;
        line-height: 40px;
        font-size: 20px;
        
}

.name {
        text-align: center;
        font-size: 35px;
        text-decoration: underline;
        margin: 2rem;
        padding: 5px;
        
}

.contenido1 {
        margin: 2rem;
        padding: 1rem;
}


/* segunda sección */

section .imgDiseño {

        background-image: url(../img/codificando.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;

}

.imgDiseño h3 {
        color: #fff;
}



.mainEquipo .foto3 { 
        margin-top: -6rem;
        margin-left: 6rem;
}

.foto3 img { 
        width: 500px;
}

.mainEquipo .foto4 { 
        margin-top: -6rem;
        margin-left: 10rem;
}

.foto4 img { 
        width: 500px;
}
.mainEquipo .texto3 {
        margin-top: 1rem;
        margin-left: 5rem;
        width: 500px;
}

.mainEquipo .texto3 h2 {
        margin-bottom: 2rem;
        margin-top: -10rem;
        text-align: center;
        font-size: 35px;
}
.mainEquipo .texto3 h3 {
        margin: 1rem 0 1rem 0;
}
.mainEquipo .texto4 {
        margin-top: -9rem;
        margin-left: 9rem;
        width: 500px;
}
.mainEquipo .texto4 h2 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 35px;
}
.mainEquipo .texto4 h3 {
        margin: 1rem 0 1rem 0;
}
.mainEquipo .foto5 img {
        width: 800px;
        height: 500px;
}

.mainEquipo .foto5 {
        margin-left: 4rem;
        margin-bottom: 6rem;
        margin-right: 15rem;
}
.mainEquipo .texto5 {
        text-align: center;
        font-size: 50px;
        line-height: 8rem;
        
        
}

.mainDiseño {
        background-color: #020202;
        color: #fff;
        font-size: 50px;
}

.mainDiseño .exploramos {
        text-align: center;
        margin: 2rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
}
.mainDiseño .descubrimos {
        text-align: center;
        margin: 2rem;
        margin-bottom: 4rem;
}
.mainDiseño .diseñamos {
        text-align: center;
        margin: 2rem;
        margin-bottom: 4rem;
}
.mainDiseño .construimos {
        text-align: center;
        margin: 2rem;
        margin-bottom: 4rem;

}



/* MOVILES */

.movil {
        background-color: #fff;
        color: #101010;
       
}

.mainProceso { 
        color: #fff;
        background-color: #101010;

}

.mainMovil h1 {
        text-align: center;
        font-family: sans-serif;
        font-size: 40px;
        text-decoration: wavy;
        margin-top: 4rem;
        padding-top: 4rem;
        margin-bottom: 4rem;
        
}

.app1 img {
        width: 150px;
        margin-left: 8rem;
        margin-top: -20rem;
}

.app1 h3 {
        margin: 1rem;
        margin-left: 3rem;
}

.app1 p {
        width: 300px;
        margin-left: 3rem;
}
.app2 img {
        width: 200px;
        margin-left: 3rem;
        margin-top: -12rem;
}
.app2 h3 {
        margin: 1rem;
        margin-left: 3rem;
}

.app2 p {
        width: 200px;
        margin-left: 3rem;
}
.app3 img {
        width: 200px;
        margin-left: 1rem;
        margin-top: -15rem;
}
.app3 h3 {
        width: 300px;
        text-align: center;
        margin-top: 1rem ;
        margin-left: -3rem;
}

.app3 p {
        width: 300px;
        margin-left: -2rem;
}
.app4 img {
        width: 200px;
        margin-left: 1rem;
        margin-top: -10rem;
        margin-right: 2rem;
}
.app4 h3 {
        width: 250px;
        text-align: center;
        margin-top: 1rem ;
        margin-left: -1rem;
        margin-right: 2rem;
}

.app4 p {
        width: 300px;
        margin-left: -2rem;
        margin-right: 2rem;
}

.app5 img {
        width: 200px;
        margin-left: 6rem;
        margin-top: -1rem;
}

.app5 h3 {
        margin: 1rem;
        margin-left: 4rem;
}

.app5 p {
        width: 300px;
        margin-left: 3rem;
}
.app6 img {
        width: 200px;
        margin-left: 7rem;
        margin-top: -3rem;
}
.app6 h3 {
        margin-top: -1rem;;
        margin-left: 3rem;
}

.app6 p {
        width: 300px;
        margin-left: 4rem;
}
.app7 img {
        width: 150px;
        margin-top: -2rem;
        margin-left: 1rem;
        margin-right: 2rem;
}
.app7 h3 {
        margin-top: 1rem;;
        margin-left: -2rem;
        margin-right: 2rem;
}

.app7 p {
        width: 300px;
        margin-left: -5rem;
        margin-right: 2rem;
}


 /* segunda seccion de apps moviles */

.mainProceso h2 { 
        text-align: center;
        font-family: sans-serif;
        font-size: 60px;
        text-decoration: wavy;
        margin-top: 3rem;
        padding-top: 2rem;

}
 .mainProceso {
         font-size: 25px;
         max-height: 1500px;
 }

 .mainProceso h3 {
         font-size: 40px;
         margin-bottom: 2rem;
         text-decoration: underline;
 }

 .mainProceso .diseño {
         margin-top: -6rem;
         margin-bottom: 2rem;
         margin-right: 4rem;
         margin-left: 2rem;
 }
 .mainProceso .adecuacion {
         margin-top: -8rem;
         margin-bottom: 2rem;
         margin-right: 4rem;
         margin-left: 2rem;
 }
 .mainProceso .ux-ui {
         margin-top: -6rem;
         margin-bottom: 5rem;
         margin-right: 4rem;
         margin-left: 2rem;
 }



/* personalizada */

.mainPersonalizada {
        background-color: #fff;
        color: #101010;
        line-height: 60px;
        width: 100%;
        max-height: 2000px;
}

.mainPersonalizada .title {
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        text-decoration: wavy;
        margin-top: 1rem;
        padding-top: 3rem;
        margin-bottom: 3rem;
}

.mainPersonalizada .title1 {
        font-size: 25px;
        margin-top: -7rem;
        
}

.mainPersonalizada .title2 {
        font-size: 25px;
        margin-top: -7rem;
        
}

.mainPersonalizada .title3 {
        font-size: 25px;
        margin-top: -7rem;
        
}

.mainPersonalizada .img2 {
        width: 250px;
}

.mainPersonalizada img {
        width: 300px;

}

.mainPersonalizada .img1 {
        margin-top: -18rem;

}

.mainPersonalizada .img2 {
        margin-top: -20rem;

}

.mainPersonalizada .img3 {
        margin-top: -18rem;

}

.mainPersonalizada .list1 {
        text-align: justify;
        text-decoration: none;
        list-style: none;
        margin-top: -17rem;
}

.mainPersonalizada .list2 {
        margin-top: -17rem;
}

.mainPersonalizada .list3 {
        margin-top: -17rem;
}

.mainPersonalizada .boton1 {
        margin-left: -20px;
        text-align: justify;

}

/* portafolio */

/* primera sección  */

.mainApps {
        background-color: #fff;
        color: #101010;
        line-height: 60px;
        width: 100%;
        max-height: 2000px;
}

.mainApps .title {
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        text-decoration: wavy;
        margin-top: 1rem;
        padding-top: 3rem;
        margin-bottom: 3rem;
}

.mainApps img {
        width: 350px;
}

.mainApps .app1 {
        margin-top: 8rem;
}

.mainApps .app1 h2 {
        margin-left: 13rem;
        font-size: 30px;
        margin-top: -1rem;
}

.mainApps .app1 p {
        margin-left: 17rem;
        font-size: 20px;
        margin-top: -2rem;
}

.mainApps .app2 img {
        margin-top: -1rem;
}

.mainApps .app2 h2 {
        margin-left: 5rem;
        font-size: 30px;
        margin-top: -1rem;
}

.mainApps .app2 p {
        margin-left: 10rem;
        font-size: 20px;
        margin-top: -2rem;
}
.mainApps .app3 img{
        margin-top: -1rem;
        margin-right: 2rem;
}

.mainApps .app3 h2 {
        margin-left: 7rem;
        font-size: 30px;
        margin-top: -1rem;
        margin-right: 2rem;
}

.mainApps .app3 p {
        margin-left: 10rem;
        font-size: 20px;
        margin-top: -2rem;
        margin-right: 2rem;
}

.mainApps .app4 {
        margin-top: 6rem;
        margin-left: 5rem;
}

.mainApps .app4 h2 {
        margin-left: 7rem;
        font-size: 30px;
        margin-top: -1rem;
}

.mainApps .app4 p {
        margin-left: 8rem;
        font-size: 20px;
        margin-top: -2rem;
}

.mainApps .app5 {
        margin-top: -2rem;
}

.mainApps .app5 h2 {
        margin-left: 8rem;
        font-size: 30px;
        margin-top: -1rem;
}

.mainApps .app5 p {
        margin-left: 10rem;
        font-size: 20px;
        margin-top: -2rem;
}

.mainApps .app6 {
        margin-top: -2rem;
        margin-right: 2rem;
}

.mainApps .app6 h2 {
        margin-left: 9rem;
        font-size: 30px;
        margin-top: -1rem;
        margin-right: 2rem;
}

.mainApps .app6 p {
        margin-left: 10rem;
        font-size: 20px;
        margin-top: -2rem;
        margin-bottom: 5rem;
        margin-right: 2rem;
}


/* segunda sección */

.mainApps2 {
        background-color: #101010;
}

.mainApps2 .title {
         text-align: center;
         font-size: 25px;
         margin-top: 1rem;
         margin-bottom: 2rem;
}
.mainApps2 .items {
        margin-left: 3rem;
        margin-bottom: 6rem;
}

/* formulario  */

.center {
        text-align: center;
}



/* footer */

.footer {
        width: 100%;
        min-height: 5px;
        height: 5px;
        margin-top: 5rem;
        color: #1b1a1a;
        font-size: 15px;
}
.footer .raya {
        background-color: #eaeaea;
    border: 0;
    height: 2px;
    margin-top: 6rem;
    width: 100%;
}

.sectionLogo {
        margin: 1rem 1rem 1rem 1rem;
        text-align: center;

}
.sectionLogo img {
        width: 200px;
        margin-bottom: -4rem;
}

.contacto { 
        margin: 5rem 1rem 1rem 1rem;
        padding: 1rem;
        line-height: 30px;
        text-align: center;
}

.redes {
        margin: 6rem 1rem 1rem 1rem;
        padding: 1rem;
        line-height: 30px;
        text-align: center;
}
.redes img {
        width: 90px;
}



