/* 1 rem es igual a 10 px */

html {
        font-size: 62,5%;
}

* {
        margin: 0rem;
        padding: 0rem;
 
        
}

/* condiciones generales */

body{
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;

}

.title {
        font-size: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: underline;
        margin: 4rem;
        padding: auto;
        text-align: center;
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }
     

/* logo header */

nav img {
        width: 200px;
}



/* foto index */

header .header1 {
        background-image: url(../img/fotoFondo1.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        
}

/* menu */

header .menu {
        opacity: 80%;
        
}

.animacionLogo {
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

/* INDEX  */

.card1 {
        
        margin: auto;
        width: 300px;
        height: auto;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
        
        
}
.card1 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
       
}

.card1 p {
        
        line-height: 35px;
}

.card2 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card2 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card2 p {
        
        line-height: 35px;
}

.card3 {
        
                margin: 2rem;
                width: 300px;
                height: 260px;
                text-align: justify;
                border-radius: 10px;
                border-color: black ;
        }
        
        .card3 h5 {
                text-align: center;
                font-size: 30px;
                text-decoration: underline;
              
        }
        
        .card3 p {
                
                line-height: 35px;
        }
.card4 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card4 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card4 p {
        
        line-height: 35px;
}

.card5 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card5 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card5 p {
        
        line-height: 35px;
}

.card6 {
        
        margin: 2rem;
        width: 300px;
        height: 260px;
        text-align: justify;
        border-radius: 10px;
        border-color: black ;
}

.card6 h5 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      
}

.card6 p {
        
        line-height: 35px;
}

/* EQUIPO  */


/* foto header */

header .header2 {
        background-image: url(../img/fotoFondo2.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        

}

/* contenido */

/* primera sección  */
.boss {
        text-align: justify;
        line-height: 40px;
        font-size: 20px;
        
}

.name {
        text-align: center;
        font-size: 35px;
        text-decoration: underline;
        margin: 2rem;
        padding: 5px;
        
}

.contenido1 {
        margin: 2rem;
        padding: 1rem;
}


/* segunda sección */

section .imgDiseño {

        background-image: url(../img/codificando.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        

}

.imgDiseño h3 {
        color: #fff;
        font-size: 40px;
        
}

section .diseño1 {
        margin-top: 4rem;
}




/* MOVILES */

header .header3 {
        background-image: url(../img/fotoFondo3.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        

}

/* cards */

/* card1 */


section .icon1 {
        font-size: 90px;
        text-align: center;
}


section .cardM1 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM1 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM1 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* card2 */


section .icon2 {
        font-size: 90px;
        text-align: center;
}

.cardM2 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM2 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM2 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* card3 */


section .icon3 {
        font-size: 90px;
        text-align: center;
}

.cardM3 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM3 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM3 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* card4 */


section .icon4 {
        font-size: 90px;
        text-align: center;
}

.cardM4 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM4 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM4 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* card5 */


section .icon5 {
        font-size: 90px;
        text-align: center;
}

.cardM5 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM5 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM5 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* card6 */


section .icon6 {
        font-size: 90px;
        text-align: center;
}

.cardM6 {
        margin: 1rem;
        padding: 2rem;
        width: 400px;
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: unset;
}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

section .cardM6 p {

        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 2px;
        
}

section .cardM6 h5 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
}

/* segunda seccion moviles */

.diseño h3 {
        font-size: 30px;
        margin: 40px 20px 40px 0px;
        letter-spacing: 2px;
        line-height: 40px;
}

.diseño p {
        line-height: 40px;
        letter-spacing: 2px;
}


/* PERSONALIZADO */
/* header */

header .header4 {
        background-image: url(../img/fotoFondo4.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        
}

/* contenido */

.productos h2{
        text-align: center;
}

.productos img{
        width: 200px;
        height: 200px;
}

.productos .commerce img{
        padding: 20px;
}
.productos .empresas img{
        padding: 10px;
}

.cotizar button {
        margin-left: 50px;
  
}

/* portafolio */
/* header */

header .header5 {
        background-image: url(../img/fotoFondo5.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        
}

/* primera sección  */

.carrusel {
        max-width: 1000px;
        width: 100%;
        display: block;
        margin: auto;

}

.carousel h5{
        font-size: 50px;
        color: #fff;
        -webkit-text-stroke: 2px black;
}
.carousel p{
        color: #ffff;
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

/* segunda sección */

.ios {
        width: 100px;
        height: 100px;
}

.android {
        width: 150px;
        height: 100px;
}


/* formulario  */
/* header */

header .header6 {
        background-image: url(../img/fotoFondo6.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 400px;
        opacity: 80%;
        
}

.formulario {
        width: 500px;
        text-align: center;
        
}


/* footer */

.footer {
        width: 100%;
        min-height: 5px;
        height: 5px;
        margin-top: 5rem;
        color: #1b1a1a;
        font-size: 15px;
}
.footer .raya {
        background-color: #eaeaea;
    border: 0;
    height: 2px;
    margin-top: 6rem;
    width: 100%;
}

.sectionLogo {
        margin: 1rem 1rem 1rem 1rem;
        text-align: center;

}
.sectionLogo img {
        width: 200px;
        margin-bottom: -4rem;
}

.contacto { 
        margin: 5rem 1rem 1rem 1rem;
        padding: 1rem;
        line-height: 30px;
        text-align: center;
}

.redes {
        margin: 6rem 1rem 1rem 1rem;
        padding: 1rem;
        line-height: 30px;
        text-align: center;
}
.redes img {
        width: 90px;
}

/* GRID FOOTER */


.footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items:center ;
    }
    
